td {
    background-color: aquamarine;
    /* border-block: solid black 2px; */
    border: solid olive 2px;
    width: 40px;
    height: 40px;
}

div {
    text-align: center;
}

body {
    background-color: darkgreen;
}

input {
    height: 20px;
    width: 60px;
    border-radius: 15%;
}

.center {
    text-align: center;
}

#content {
    text-align: center;
}

button {
    background-color: aquamarine;
    border-radius: 15%;
    box-shadow: 3px 2px blue;
    width:100px;
    height: 66px;
}

div button {
    display: inline;
}
h1{
    position: sticky
}